/* Estilos aplicados al cuerpo (body) del documento */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 50px;
    background-color: rgb(116, 128, 124);
    background-image: url('https://i.pinimg.com/originals/d1/b9/3f/d1b93f2a4ef6ca3e943aa349fdd014b5.gif');
    font-size: 18px; /* Ajusta el tamaño de fuente principal */
    font-weight: normal; /* Cambiado de bold a normal para mejorar la legibilidad */
}

/* Estilos aplicados a los elementos de párrafo (p) */
p {
    color: rgb(245, 245, 245);
}

/* Estilos aplicados a los elementos de división (div) */
div {
    margin-bottom: 20px; /* Aumentado el margen inferior para separar más las secciones */
}

/* Estilos aplicados a las imágenes dentro de las divisiones */
div img {
    width: 30%; /* Ajusta el ancho al 100% de su contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    object-fit: cover; /* Asegura que la imagen se ajuste sin perder la proporción */
    border-radius: 8px; /* Agregado un borde redondeado para mejorar el aspecto estético */
}

/* Estilos aplicados al elemento con el id 'total' */
#total {
    font-size: 25px;
    font-weight: bold;
}

/* Estilos aplicados a los botones */
button {
    margin-top: 10px;
    font-size: 18px; /* Ajusta el tamaño de fuente de los botones */
    font-weight: bold;
    
}

/* Estilos aplicados a los campos de entrada de tipo número */
input[type="number"] {
    font-size: 16px; /* Ajusta el tamaño de fuente de los campos de entrada de tipo número */
    padding: 8px;
}



